{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      WineMark : Organise and manage your vineyards </p>
    <p class="box">
      <i class="fas fa-wine-glass fa-10x" style="color:grey"></i>
      <i class="fas fa-plus fa-4x" style="color:deepskyblue"></i>
      <i class="fas fa-wine-bottle fa-10x" style="color:purple"></i>    </p>
  </div>
</section>