{{> menu active="dashboard"}}

<section class="box">
  <h3 class="title is-3 has-text-centered" id="dashboard-map-heading">French Edition</h3>
  {{> main-dashboard-map}}
</section>
<section class="box">
  {{> add-placemark}}
</section>