{{> welcome-menu}}

<section class="hero is-link is-fullheight-with-navbar" id="main-hero">
  <div class="hero-body container">
    <div class="container has-text-centered">
      <h1 class="title" id="main-hero-title">WineMark</h1>
      <h2 class="subtitle" id="main-hero-subtitle">Mark the magic of discovery</h2>
    </div>
  </div>
</section>