{{> welcome-menu}}

<section class="hero is-link is-fullheight-with-navbar" id="main-hero">
  <div class="hero-body container">
    <div class="section has-text-centered">
      <h1 class="title has-text-white is-size-2" id="main-hero-title">
        Welcome to the world of WineMark
      </h1>
    </div>
  </div>
</section>