<nav class="navbar" id= "navigation" >
  <div class="navbar-brand">
    {{> placemark-brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="dashboard" class="button is-primary" href="/admin"> Admin </a>
          <a id="logout" class="button is-danger" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>